@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jersey+15+Charted&family=Silkscreen:wght@400;700&display=swap');
        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: "Roboto Mono", monospace;
            font-optical-sizing: auto;
            font-style: normal;

            user-select: none; /* Standard syntax */
            -webkit-user-select: none; /* Safari */
            -moz-user-select: none; /* Firefox */
            -ms-user-select: none; /* Internet Explorer/Edge */
        }

        body{
            width: 100%;
            min-height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction:column;
            background: linear-gradient(154deg,#398062,rgb(7, 66, 66));
        }
        

        .container{
            width: 80vw;
            position: relative;
        }

        #keydata{
            word-break:break-all;
        }

        #console{
          display:none;
          position:absolute;
          top:0px;
          word-break:break-all;    
        }

        #console::after {
          content: "_";
          font-family: "Roboto Mono", monospace;
          color:rgba(255, 255, 255, 0.342);
          animation: blink 1s ease-in-out infinite;
          position: relative;
      }
      
      @keyframes blink {
          0% {
              background: linear-gradient(180deg,#07424263,#12c0465e);
          }
          100%{
            opacity: 1;
            background: linear-gradient(180deg,#12c0463f,#0742421c);
          }
        
      }
      
        .text{
            position: absolute;
            width:84%;
            top:30%;
            z-index:1;
            background: linear-gradient(154deg,#398062,#074242);

            & input{
                border: none;
                outline: none;
            }

            & #data{
                width:80%;
                height:50px;
            }

            & #data::placeholder{
                color:rgba(255, 255, 255, 0.692);
            }

            & input:hover{
                box-shadow: inset 0px 0px 1px 1px white;
                color: white;
            }
        }

        .area,.text{
            min-width:50%;
            max-width: 90vw;
            min-height:350px;
            max-height: 350px;
            border: 3.5px solid #479273;
            border-radius: 13px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 10px;
            padding: 10px;
            font-size: 25px;
        }

        .data{
          width: 100%;
          display: flex;
          flex-direction: row;
          justify-content: space-evenly;
          font-size: 18px; 
        }
        #TotalWords,#error,#TimeCount,#SpeedCount{
            color:white;
            height: 30px;
        }

        #keydata,input{
          color: #b0eece;
            padding:5px;
            max-height: auto;
            background:#3b7a60;
            border-radius: 3px;
            letter-spacing: 2px;
        }
        .Con-sole{
          position: relative;
          padding:5px;
          max-height: auto;
          border-radius: 3px;
          letter-spacing: 2px;
        }

        #console{
            padding:5px;
            max-height: auto;
            border-radius: 3px;
            letter-spacing: 2px;
        }

  
      .heading{
        font-size: 50px;
        color: white;
        font-family: "Tilt Neon", sans-serif;
        font-optical-sizing: auto;
        font-weight: 200;
        font-style: normal;
      }

      .itme{
        position: absolute;
        top: 10px;
        right: 10px;
      }

      .reset,i,.back,.info{
        position:absolute;
        bottom: 30px;
        right: 30px;
        font-size:15px;
        border-left:2px solid rgba(255, 255, 255, 0);
        padding-left:5px;
        color: white;
    }

    .reset:hover{
        border-color: white;
        padding-left: 1px;
        right: 29px;
        cursor: pointer;
        transition-timing-function: ease-in-out;
        transition-duration:0.2s;
      }
      .back:hover{
        border-color: white;
        padding-left: 1px;
        right: 29px;
        cursor: pointer;
        transition-timing-function: ease-in-out;
        transition-duration:0.2s;
      }
      .choose,.backChoose{
        width:150px;
       border-left:5px solid #ffffff ;
       border-radius: 2px;
        left:30px;
      }


      .dropdown{
        position: absolute;
        bottom: 30px;
        right: 160px;
        color:white;
        & .dropup{
            border-left:2px solid rgba(255, 255, 255, 0) ;
            padding-left: 5px;
        }

        & .dropdown-menu{
            position: relative;
            display: none;
            flex-direction:column;
            align-items:left;
            bottom: -50px;
            left:10px;
            transition-property: bottom;
            & li{
                list-style-type: none;
                border-left: 2px solid rgba(255, 255, 255, 0);
                padding-left: 5px;
            }
        }
      }
      .dropdown-menu li:first-child:hover{
        cursor: pointer;
        transition-timing-function: ease-in-out;
        transition-duration:0.3s;
        border-left: 2px solid #23aa4b;
        color: #12c046;
        padding-left: 1px;
      }
      .dropdown-menu li:nth-child(2n):hover{
        cursor: pointer;
        transition-timing-function: ease-in-out;
        transition-duration:0.3s;
        border-left: 2px solid #b99d21;
        color: #cfae18;
        padding-left: 1px;
      }
      .dropdown-menu li:last-child:hover{
        cursor: pointer;
        transition-timing-function: ease-in-out;
        transition-duration:0.3s;
        border-left: 2px solid #b92621;
        color: #f80c04;
        padding-left: 1px;
      }


      .dropup:hover{
        cursor: pointer;
        transition-timing-function: ease-in-out;
        transition-duration:0.3s;
        border-left:2px solid rgb(255, 255, 255);
        padding-left:1px;
        
      }

      .info{
        left: 20px;
        bottom: 27px;
        cursor: pointer;
      }

      #info{
        opacity: 0;
        position: absolute;
        color: white;
        bottom: 60px;
        left:40px;
        font-size:15px;
        background: #216951;
        border-left: 2px solid rgba(212, 205, 205, 0.76);
        border-bottom: 3px solid rgba(214, 211, 211, 0.842);
        border-radius: 5px;
        padding: 5px;
        transition: 1s ease;
      }

      .info:hover + #info{
        transform: translateX(20px);
        opacity: 1;
      
      }